# User Testing Report

User testing was conducted by {your name} on {specific date} between the times of {start time} and {end time} with the following participants:

- Sabrina Ng
- Lianne Hebert
- Stephanie Csanky

## Tasks

1. Learn about the Cretaceous–Paleogene extinction event 
2. Check out the scientist page in the smallest screen/mobile
3. Learn More about the t-Rex

---

## Individual Results & Observations

### Sabrina Ng

- She easily found and clicked on the learn more buttons
- She found the link easily on mobile from the drop down nav


### Lianne Hebert

- She easily found and clicked on the learn more buttons
- She found the link easily on mobile from the drop down nav

### Stephanie Csanky

- She easily found the link to learn more about the t-rex
- She easily found the link to the Scientist page on mobile
- She foudn it hard to find the learn more button for the Cretaceous Exiniction event

---

## Trends

### Critical, Needs Fixing, Unable to Complete

-N/A

### Serious, Causes Frustration, May Hinder Completion

-N/A

### Minor, Annoying, Won’t Hinder Completion

-typos