

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">
	 <link href="{{site.baseurl}}/css/general.css" rel="stylesheet">
	 <link href="{{site.baseurl}}/css/common.css" rel="stylesheet">
    <title>The Cretaceous Period!- Awesome creatures from long ago; Ottawa, Canada</title>

    <!-- Bootstrap core CSS -->
    <link href="{{site.baseurl}}/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{site.baseurl}}/css/jumbotron.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
	
	<!-- social media tag-->
		<!-- Facebook-->
<meta property="og:type" content="article">
<meta property="og:title" content="The Cretaceous Period">
<meta property="og:url" content="http://laurah1966.github.io/large-data-site/index.html">
<!-- Tmage size: minimum 200x200, preffered 1500x1500-->
<meta property="og:image" content="http://laurah1966.github.io/large-data-site/placehold.it/1500x1500.jpg">
<!-- Facebook, these last two are optional-->
<meta property="og:site_name" content="The Cretaceous Period">
<meta property="og:description" content="A time of Dinosaurs long since past. The days when giant reptiles walked the earth, living, breathing. <strong>The Cretaceous Period</strong> was over 145–66 million years ago and ended with a massive distinction.">

<!-- Twitter-->
<meta property="twitter:card" content="summary">
<meta property="twitter:title" content="The Cretaceous Period">
<meta property="twitter:url" content="http://laurah1966.github.io/large-data-site/index.html">
<!-- Tmage size: minimum 120x120, -->
<meta property="twitter:image" content="http://laurah1966.github.io/large-data-site/placehold.it/120x120.jpg">
<meta property="twitter:description" content="A time of Dinosaurs long since past. The days when giant reptiles walked the earth, living, breathing. <strong>The Cretaceous Period</strong> was over 145–66 million years ago and ended with a massive distinction.">

	
  </head>
  
  <body>
  
  
    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">The Cretaceous Period</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#" rel="home">Home</a></li>
            <li><a href="{{site.baseurl}}/#events">Events</a></li>
            <li><a href="{{site.baseurl}}/#geology">Geology</a></li>
			<li><a href="{{site.baseurl}}/#dinosaurs">Dinosaurs </a></li>
			<li><a href="{{site.baseurl}}/#scientists ">Scientists </a></li>
          </ul>
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </div><!-- /.navbar -->

{{content}}



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>